<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
<add name="DynamoDBContext" connectionString="Offline=False;Access Key=AKIAIJBIJQBJ6I2GHZ3Q;Secret Key=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;Domain=amazonaws.com;Region=Frankfurt;" providerName="System.Data.CData.DynamoDB" />
</connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
<provider invariantName="System.Data.CData.DynamoDB" type="System.Data.CData.DynamoDB.DynamoDBProviderServices, System.Data.CData.DynamoDB.Entities.EF6" />
</providers>
  </entityFramework>
</configuration>